@model DiplomskiCore1.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
@if (Model != null && Model.MessageSent)
{    <div class="container center wow fadeInDown" style="padding:0px">
        <br/>
        <label asp-for="SendMessageResponse" class="status alert alert-success">@Model.SendMessageResponse</label>
     </div>
}
<section id="contact-info" style="padding-top:0px">
    <br /> <br />
    <div class="center">
        <h2>How to Reach Us?</h2>
        <p class="lead">Get In Touch. More Bootstrap Templates will Update soon only for dot.net users...</p>

    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=JoomShaper,+Dhaka,+Dhaka+Division,+Bangladesh&amp;aq=0&amp;oq=joomshaper&amp;sll=37.0625,-95.677068&amp;sspn=42.766543,80.332031&amp;ie=UTF8&amp;hq=JoomShaper,&amp;hnear=Dhaka,+Dhaka+Division,+Bangladesh&amp;ll=23.73854,90.385504&amp;spn=0.001515,0.002452&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=1073661719450182870&amp;output=embed"></iframe>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
                                <h5>Head Office</h5>
                                <p>
                                    4587 Hitech Street <br>
                                    HYD, DS 75864
                                </p>
                                <p>
                                    Phone:123-456-7894 <br>
                                    Email Address:info@strap.com
                                </p>
                            </address>

                            <address>
                                <h5>Zone2 Office</h5>
                                <p>
                                    4587 Hitech Street <br>
                                    HYD, DS 75864
                                </p>
                                <p>
                                    Phone:123-456-7894 <br>
                                    Email Address:info@strap.com
                                </p>
                            </address>
                        </li>


                        <li class="col-sm-6">
                            <address>
                                <h5>Zone1 Office</h5>
                                <p>
                                    4587 Hitech Street <br>
                                    HYD, DS 75864
                                </p>
                                <p>
                                    Phone:123-456-7894 <br>
                                    Email Address:info@strap.com
                                </p>
                            </address>

                            <address>
                                <h5>Zone3 Office</h5>
                                <p>
                                    4587 Hitech Street <br>
                                    HYD, DS 75864
                                </p>
                                <p>
                                    Phone:123-456-7894 <br>
                                    Email Address:info@strap.com
                                </p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/gmap_area -->
<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Drop Your Message</h2>
            <p class="lead">We will get back you soon. Keep In Touch. For More details send a message..</p>
        </div>
        <div class="row contact-wrap">
            <form id="#main-contact-form" asp-controller="Contact" asp-action="SendMail" class="contact-form" name="contact-form" method="post">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyName"></label>
                        <input asp-for="CompanyName" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Subject"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" class="form-control" Rows="8" TextMode="MultiLine"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit Message" class="btn btn-primary btn-lg"/>
                        <!--<button runat="server" ID="contactUsButtonHtm" type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Message</button>-->
                    </div>
                </div>
            </form>
        </div><!--/.row-->
    </div><!--/.container-->
</section>
<!--/#contact-page-->

<!--
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->
