@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model DiplomskiCore1.ViewModels.BlogEditViewModel
@{
     ViewData["Title"] = "Contact";
     ViewBag.Title = "Blogggg";
 }

<div class="container">
    <h2>Create Blog</h2>

@using (Html.BeginForm())
{
        <div>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.Text)
            @Html.TextBoxFor(m => m.Text)
        </div>
        <div>
            <input type="submit" value="Create" style="margin-left:30px" class="btn btn-default"/>
        </div>
}

</div>