<div class="container">
    <br />
    <br />
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img asp- src="~/images/MyPortfolio/MeForPrifile.jpg" class="img-circle" alt="">
            <h3>
                Employeed at Microgen.
            </h3>
            <h4>
                <span>- Nikola Bojkovic /</span> Software Developer<br />
            </h4>
        </div>
    </div>
    <div class="col-md-8 wow fadeInDown">
            <p class="lead">
                <br />
                <br />
                <br />
                <center><h2>Hello to everyone!</h2></center>
                <br /> I am Nikola Bojkovic Software Developer and 
                 want to welcome you to my web site where I will promote myself
                 and where you can find your new job or your new emloyees
                <br> Explore my web site that has been created in ASP.NET 
                Core and feel free to send me a feedback about how do you like it. Than you vary much.
            </p>
    </div>
 </div>
<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>My skills</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heart"></i>
                        <h2>ASP.NET Core</h2>
                        <h3> Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-list-ul"></i>
                        <h2>JavaScript</h2>
                        <h3>Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-list"></i>
                        <h2>HTML5</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-th"></i>
                        <h2>CSS3</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-gears"></i>
                        <h2>jQuery</h2>
                        <h3>Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-gears"></i>
                        <h2>PHP</h2>
                        <h3>Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-desktop"></i>
                        <h2>C#</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-database"></i>
                        <h2>Microsoft SQL</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-desktop"></i>
                        <h2>C++</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-github"></i>
                        <h2>Git and SVN</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
        <div class="center wow fadeInDown">
            <h2>Languages</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-check-square-o"></i>
                        <h2>Serbian</h2>
                        <h3>Native or bilingual proficiency</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-bar-chart-o"></i>
                        <h2>English</h2>
                        <h3>Professional working proficiency</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.container-->
        </div>
</section>
<!--/#feature-->
<div class="container">
    <div class="clients-area wow fadeInDown">
        <h2 class="center">
            My working experience
        </h2>
        <p class="lead">
            I have two years of working experience. I started like an intern at the
             company Infoscreen Cyprus and
            after 2 months I signed contract like a software developer.
            I gained I lot of knowledge and experiance about software lifecycle -
            especialy about requirements, software development and testing. I used to learn
            about existing and new technologies, mantain existing software solutions and to
             play as a team player.
            After almost two years I signed contract for another financial company (Microgen) where I also
            develop a finanicial software solution.
            <br>
            Beside that I have experience like a web developer I develop simple web app just to learn about web development
            and that is my private project more specifically this web site.
        </p>
        <center><h3>At the companies where I used to work my obligations ware</h3></center>
        <ul>
            <li>Maintain and develop existing financial software solution</li>
            <li>learn about new technologies</li>
            <li>education of interns</li>
            <li>Be a team player</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img src="~/images/MyPortfolio/infoscreen.jpg" class="img-rounded" alt="">
            <h3>
                Cyprus company that provide software solution for entity managemant and company secretarial
            </h3>
            <h4>
                <span>- Junior Software Developer /</span> From January 2015 until Semptember 2016
            </h4>
        </div>
    </div>
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img asp- src="~/images/MyPortfolio/microgen.png" class="img-rounded" alt="">
            <h3>
                Microgen is a financia company that has a financial sofware which is client app connected directly to the MS SQL Server
            </h3>
            <h4>
                <span>- Software Developer /</span> From October 2016 - current job
            </h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="clients-area wow fadeInDown">
        <center>
            <h2>
                Where I see myself in the future
            </h2>
        </center>
        <p class="lead">
            Like everyone I am passionate about something and my passion is programming.
            I have a desire to improve my knolage and became
            something more then just a software developer. In the future I see myself
            like a team lider or maybe later like a
            product manager or product owner. I am always interested
            in new technologies and I never stop learning. <br /> <br/> Thank you for your time.
        </p>
    </div>
</div>
